
How Does Power Work/.idea/
Compile Custom NVMe Driver/linux_source
Swap Kernel on Rocky 9/source

Custom NVMe Debug Driver/kernel-grant-nvme-6.6.16-1.x86_64.rpm

Understand and Run LINPACK/.idea/

Understand and Run LINPACK/binary/mpiexec.hydra

Understand and Run LINPACK/binary/mpiexec.hydra.i64

Understand and Run LINPACK/binary/xhpl_intel64_dynamic

Understand and Run LINPACK/binary/xhpl_intel64_dynamic.i64

Understand and Run LINPACK/tommy_notes.md

*.pyc

How Does SIFT Work/output_images/

.idea/

Deploy OpenShift Offline/agent-config.yaml.mine.yaml

Deploy OpenShift Offline/install-config.yaml.mine.yaml

log_analysis/xml_files/

Deploy OpenShift Offline/old_stuff.md

How Does SIFT Work/U4E00.pdf

How Does SIFT Work/cedict_1_0_ts_utf-8_mdbg.txt.gz

Troubleshooting 5G Connection/notes_for_troubleshooting.md

.vscode/

Aircraft Detection/data_set/

*.keras

Aircraft Detection/aircraft_classifier.h5
