#!ipxe

set deploy-server ${next-server}
set base-url http://${deploy-server}

echo Starting Secure Boot iPXE WinPE boot from ${base-url}
kernel ${base-url}/ipxe/wimboot pause {{ windows.deploy_debug.wimboot_args }}
initrd ${base-url}/winpe/EFI/Microsoft/Boot/BCD BCD
initrd ${base-url}/winpe/Boot/boot.sdi boot.sdi
initrd ${base-url}/winpe/boot.wim boot.wim
boot
