#!ipxe

set deploy-server ${next-server}
set base-url http://${deploy-server}

echo Starting Secure Boot iPXE WinPE boot from ${base-url}
kernel ${base-url}/ipxe/wimboot{% if windows.deploy_debug.startup_pause %} pause{% endif %}{% if windows.deploy_debug.wimboot_args %} {{ windows.deploy_debug.wimboot_args }}{% endif %}
initrd ${base-url}/winpe/EFI/Microsoft/Boot/BCD BCD
initrd ${base-url}/winpe/Boot/boot.sdi boot.sdi
initrd ${base-url}/winpe/boot.wim boot.wim
boot
